.about {
    max-width: 1000px;
    margin: auto;
    padding: 2rem 0;
}

.about__container {
    box-shadow: var(--base-primary-box-shadow);
    padding: 2rem;
    padding-top: 4rem;
    border-radius: 1rem;
}

.about__title {
    box-shadow: var(--base-primary-box-shadow-invert);
    background-color: var(--base-primary);
    text-align: center;
    padding: 1rem 2rem;
    max-width: 80%;
    margin: auto;
    border-radius: 1rem;
    z-index: 1;
    transform: translateY(2rem);
}

.about__info {
    display: grid;
    grid-template-columns: auto auto;
}

.about__info__pic {
    box-shadow: var(--base-primary-box-shadow-invert);
    width: 300px;
    height: min-content;
    border-radius: 2rem;
    padding: 2rem;
    margin: auto;
}

.about__info__pic img {
    width: 100%;
    border-radius: 2rem;
}

.about__info__content {
    padding-left: 2rem;
    font-size: 20px;
}

.about__experience {
}

/* Mobile Styles */

@media only screen and (max-width: 900px) {
    .about__container {
        width: 90%;
        margin: auto;
    }

    .about__info {
        grid-template-columns: auto;
    }

    .about__info__content {
        padding: 2rem 0;
        font-size: 20px;
    }
}
