.about {
    max-width: 1050px;
    min-width: 850px;
    margin: auto;
    width: 90%;
}

.about__container {
    padding: 2rem 0;
    border-radius: 1rem;
}

.about__title {
    text-align: center;
    background-color: var(--base-primary);
    border-radius: 1rem;
    margin-bottom: 1rem;
    z-index: 1;
    transform: translateY(2rem);
}

.about__info {
    display: block;
    /* grid-template-columns: 1fr 2fr; */
    /* gap: 2rem; */
}

.about__info__pic {
    box-shadow: var(--base-primary-box-shadow);
    width: 300px;
    height: min-content;
    border-radius: 2rem;
    padding: 2rem;
    margin: auto;
}

.about__info__pic img {
    width: 100%;
    border-radius: 2rem;
}

.about__info__content {
    font-size: 20px;
    padding: 2rem;
    margin-bottom: 7rem;
    box-shadow: var(--base-primary-box-shadow);
    border-radius: 2rem;
}

.about__info__subsection {
    grid-column: 1 / span 2;
    padding-bottom: 2rem;
}

.about__subsection__title {
    margin-bottom: 1rem;
    text-align: center;
}

.about__skills__container {
    margin-top: 1rem;
}

.about__skills__container span {
    display: inline-block;
    box-shadow: var(--base-primary-box-shadow);
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 5px 15px;
    border-radius: 1rem;
}

.about__experience {
}

/* Mobile Styles */

@media only screen and (max-width: 900px) {
    .about__container {
        width: 90%;
        margin: auto;
    }

    .about__info {
        display: block;
    }

    .about__info__content {
        padding: 2rem 0;
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .about__title {
        font-size: 30px;
    }
}
