.about__subsection___experience__container {
    
}

.experience__container {
    box-shadow: var(--base-primary-box-shadow);
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1rem;
}



.experience__container::after{

}

.experience__date{
    font-size: 18px;
}

.experience__content {
    font-size: 20px;
}