body {
    --dark-primary: #76ba99;
    --base-primary: #adcf9f;
    --light-primary: #ced89e;
    --secondary: #ffdcae;

    --base-primary-light-shadow: #c0e7b0;
    --base-primary-dark-shadow: #84a179;
    --base-primary-box-shadow: -0.3rem -0.3rem 1rem var(--base-primary-light-shadow),
        0.3rem 0.3rem 1rem var(--base-primary-dark-shadow);
    --base-primary-box-shadow-invert: inset 0.3rem 0.3rem 1rem
            var(--base-primary-dark-shadow),
        inset -0.3rem -0.3rem 1rem var(--base-primary-light-shadow);

    --dark-primary-light-shadow: #92e7be;
    --dark-primary-dark-shadow: #56866f;
    --dark-primary-box-shadow: -0.3rem -0.3rem 1rem var(--dark-primary-light-shadow),
        0.3rem 0.3rem 1rem var(--dark-primary-dark-shadow);
    --dark-primary-box-shadow-invert: inset 0.3rem 0.3rem 1rem
            var(--dark-primary-dark-shadow),
        inset -0.3rem -0.3rem 1rem var(--dark-primary-light-shadow);

    --general-light-shadow: rgba(255, 255, 255, 0.5);
    --general-dark-shadow: #0000005d;
    --general-box-shadow: -0.2rem -0.2rem 0.3rem var(--general-light-shadow),
        0.2rem 0.2rem 0.3rem var(--general-dark-shadow);
    --general-box-shadow-invert: inset 0.2rem 0.2rem 0.3rem
            var(--general-dark-shadow),
        inset -0.2rem -0.2rem 0.3rem var(--general-light-shadow);

    --text-color: #2c7451;
    --svg-color-filter: invert(39%) sepia(27%) saturate(861%) hue-rotate(98deg)
        brightness(90%) contrast(88%);
    color: var(--text-color);
    font-size: 1.3rem;
}

body.dark {
    --dark-primary: #1d2d50;
    --base-primary: #133b5c;
    --light-primary: #1e5f74;
    --secondary: #fcdab7;

    --base-primary-light-shadow: #194b74;
    --base-primary-dark-shadow: #0b2336;
    --base-primary-box-shadow: -0.3rem -0.3rem 1rem var(--base-primary-light-shadow),
        0.3rem 0.3rem 1rem var(--base-primary-dark-shadow);
    --base-primary-box-shadow-invert: inset 0.3rem 0.3rem 1rem
            var(--base-primary-dark-shadow),
        inset -0.3rem -0.3rem 1rem var(--base-primary-light-shadow);

    --dark-primary-light-shadow: #304779;
    --dark-primary-dark-shadow: #0d1424;
    --dark-primary-box-shadow: -0.3rem -0.3rem 1rem var(--dark-primary-light-shadow),
        0.3rem 0.3rem 1rem var(--dark-primary-dark-shadow);
    --dark-primary-box-shadow-invert: inset 0.3rem 0.3rem 1rem
            var(--dark-primary-dark-shadow),
        inset -0.3rem -0.3rem 1rem var(--dark-primary-light-shadow);

    --text-color: white;
    --svg-color-filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(81deg)
        brightness(100%) contrast(101%);
    color: var(--text-color);
    font-size: 1.3rem;
}

.container {
    display: block;
}

/*** DEFAULT STYLES ***/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--base-primary);
}

a {
    color: inherit;
    text-decoration: none;
}

/*** NAVIGATION BAR ***/
.navbar {
    position: sticky;
    top: 0;
    background-color: var(--dark-primary);
    padding: 0 1.5rem;
    margin-bottom: 1rem;
    min-height: 3rem;
    box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.navbar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar__logo__image {
    box-shadow: var(--dark-primary-box-shadow);
    border-radius: 100%;
    height: 3.5rem;
    width: 3.5rem;
    transition: ease-in-out 300ms;
}

.navbar__logo__image:hover {
    box-shadow: none;
}

.navbar__content {
    display: flex;
    align-items: center;
}

.navbar__content a {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: var(--dark-primary-box-shadow);
    transition: ease-in-out 300ms;
    cursor: pointer;
}

.navbar__content a:focus {
    box-shadow: var(--dark-primary-box-shadow-invert);
}

.navbar__content a:hover {
    box-shadow: none;
}

/*** Main ***/
.main {
    max-width: 1000px;
    margin: auto;
    height: calc(100vh - 5rem);
    display: flex;
    align-items: center;
    min-height: 50vh;
}

.main__card {
    box-shadow: var(--base-primary-box-shadow);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 7.5rem;
    margin-left: 1rem;
    min-width: 20rem;
    max-width: 20rem;
    height: 30rem;
    border-radius: 1rem;
}

.main__image {
    background-color: var(--base-primary);
    box-shadow: var(--base-primary-box-shadow-invert);
    height: auto;
    width: 100%;
    margin-top: -7.5rem;
    border-radius: 2rem;
    margin-right: auto;
}

.main__image__wrapper {
    margin: 1.5rem;
    overflow: hidden;
    border-radius: 1rem;
}

.main__card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.main__card__link_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main__card__links {
    filter: var(--svg-color-filter);
    flex-grow: 1;
    height: 3rem;
    width: auto;
    margin: 1rem 0rem 0.5rem;
}

.main__card__links:hover {
    opacity: 0.5;
}

.main__card__text {
    font-size: 1.1rem;
}
.main__card__redirect {
    background: var(--light-primary);
    box-shadow: none;
    text-align: center;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    transition: ease-in-out 300ms;
}

.main__card__redirect:hover {
    box-shadow: var(--general-box-shadow-invert);
}

.main__intro {
    flex-grow: 1;
    margin-left: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__intro h1 {
    font-size: 6rem;
}

.main__intro div {
    height: 10rem;
}

.main__intro .pop-up-texts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.main__intro span {
    display: inline;
    background-color: var(--base-primary);
    width: min-content;
    padding: 0.1rem 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
}

.main__intro .special {
    color: var(--base-primary);
    animation: pop-and-go 5s linear;
}

@keyframes pop-and-go {
    0% {
        color: var(--base-primary);
        box-shadow: none;
        opacity: 0.3;
    }
    5% {
        color: var(--text-color);
        box-shadow: none;
        opacity: 0.3;
    }
    15% {
        color: var(--text-color);
        box-shadow: none;
        opacity: 0.3;
    }
    20% {
        color: var(--text-color);
        box-shadow: var(--base-primary-box-shadow);
        opacity: 1;
    }
    80% {
        color: var(--text-color);
        box-shadow: var(--base-primary-box-shadow);
        opacity: 1;
    }
    85% {
        color: var(--text-color);
        box-shadow: none;
        opacity: 0.3;
    }
    100% {
        color: var(--base-primary);
        box-shadow: none;
    }
}

@media only screen and (max-width: 800px) {
    .main {
        width: 80%;
        flex-direction: column;
        overflow-y: visible;
    }
}
