/*** Main ***/
.main {
    max-width: 1000px;
    margin: auto;
    height: calc(100vh - 5rem);
    display: flex;
    align-items: center;
    min-height: 600px;
}

.main__card {
    box-shadow: var(--base-primary-box-shadow);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 7.5rem;
    margin-left: 1rem;
    min-width: 20rem;
    max-width: 20rem;
    height: 30rem;
    border-radius: 1rem;
}

.main__image {
    background-color: var(--base-primary);
    box-shadow: var(--base-primary-box-shadow-invert);
    height: auto;
    width: 100%;
    margin-top: -7.5rem;
    border-radius: 2rem;
    margin-right: auto;
}

.main__image__wrapper {
    margin: 1.5rem;
    overflow: hidden;
    border-radius: 1rem;
}

.main__card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.main__card__link_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--text-color)
}

.main__card__links {
    filter: var(--svg-color-filter);
    flex-grow: 1;
    height: 3rem;
    width: auto;
    margin: 1rem 0rem 0.5rem;
    transition: ease-in-out 200ms;
}

.main__card__links:hover {
    opacity: 0.5;
    transform: translateY(0.3rem);
}

.main__card__text {
    font-size: 1.1rem;
}

.main__card__redirect {
    display: flex;
    width: 100%;
}

.main__card__button {
    background: var(--dark-primary);
    box-shadow: none;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    margin: 1rem 0.5rem 0 0;
    transition: ease-in-out 300ms;
}

.main__card__button:hover {
    box-shadow: var(--base-primary-box-shadow);
}

.main__intro {
    flex-grow: 1;
    margin-left: 2rem;
    padding: 2rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__intro__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__intro__text h1 {
    font-size: 6rem;
}

.main__intro__text div {
    min-width: 300px;
    max-width: 490px;
    height: 10rem;
}

.main__intro__text .pop-up-texts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.main__intro__text span {
    display: inline;
    background-color: var(--base-primary);
    width: min-content;
    padding: 0.1rem 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
    font-size: 2rem;
}

.main__intro__text .special {
    color: var(--base-primary);
    animation: pop-and-go 5s linear;
}

@keyframes pop-and-go {
    0% {
        color: var(--base-primary);
        box-shadow: none;
        opacity: 0.3;
    }
    5% {
        color: var(--text-color);
        box-shadow: none;
        opacity: 0.3;
    }
    15% {
        color: var(--text-color);
        box-shadow: none;
        opacity: 0.3;
    }
    20% {
        color: var(--text-color);
        box-shadow: var(--base-primary-box-shadow);
        opacity: 1;
    }
    80% {
        color: var(--text-color);
        box-shadow: var(--base-primary-box-shadow);
        opacity: 1;
    }
    85% {
        color: var(--text-color);
        box-shadow: none;
        opacity: 0.3;
    }
    100% {
        color: var(--base-primary);
        box-shadow: none;
    }
}

.main__intro__projects {
    display: grid;
    grid-template-columns: auto auto;
}

.main__intro__project {
    height: 100px;
    width: 100px;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.main__project__container {
    box-shadow: var(--base-primary-box-shadow);
    height: 12rem;
    width: 12rem;
    border-radius: 1rem;
    margin: 1rem 1rem 0 0;
    padding: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 300ms ease-in-out;
}

.main__project__container:hover {
    box-shadow: none;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .main {
        width: 80%;
        flex-direction: column;
        overflow-y: visible;
        height: 950px;
    }

    .main__card {
        /* margin-left: 0; */
    }

    .main__intro {
        text-align: center;
        display: block;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .main__intro__text div {
        height: 13rem;
    }

    .main__intro__text h1 {
        font-size: 4.5rem;
    }

    .main__intro__text span {
        font-size: 1.7rem;
        text-align: left;
    }

    .main__intro__text .pop-up-texts {
        justify-content: center;
    }

    .main__intro__projects {
        grid-template-columns: auto;
        justify-content: center;
        margin-top: 1rem;
    }

    .project__container {
        margin: 1rem 0;

    }

    .main__intro__feature__projects {
        display: none;
    }
}
