.project {
    max-width: 1000px;
    margin: auto;
    padding: 2rem 0;
}

.project__title {
    text-align: center;
}

.project__search__bar {
    box-shadow: var(--base-primary-box-shadow-invert);
    background-color: var(--base-primary);
    padding: 5px 10px;
    color: var(--text-color);
    border-radius: 10px;
    border: none;
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
}

.project__search__bar::placeholder {
    color: var(--base-text-color);
}

.projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    width: 100%;
    justify-items: center;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .project {
        width: 80%
    }

    .projects__container {
        grid-template-columns: 1fr 1fr;
    }    
}

@media screen and (max-width: 600px) {
    .projects__container {
        grid-template-columns: 1fr;
    }    
}

.project__container {
    height: 100%;
    width: 100%;
    box-shadow: var(--base-primary-box-shadow);
    padding: 30px;
}

.project__image {
    width: 100%;
    height: auto;
}
